extends ../layout/layout
//Content's index
block content
    // Language page
    include ../common/language.jade

    // Social icons
    include ../common/socials.jade

    // Main field for drag and drop
    include ../common/field.jade
    
    // Navigation page
    include ../common/navigation.jade
